azul = #242C36
blanco = #fff
rojo = #FA4171
 
 @font-face
   font-family Lato
   font-style normal
   
::-webkit-input-placeholder
	color blanco
:-moz-placeholder
   color blanco 
::-moz-placeholder
   color blanco
:-ms-input-placeholder
   color blanco

a
	color rojo
	text-decoration none
body
	background azul
	font-size 16px
	color blanco
	margin 0 auto
	font-family Lato

h1
	margin 15% 0 0 0
	text-align center
	img
		background 0

h2
	text-transform uppercase
	text-align center
	font-size 2.18em
h3
	font-size 1.4em
	font-weight 300
	margin-top -1em
	text-align center
h4
	font-weight 300
	text-align center
button
	background blanco
	margin-top 1em
	width 100%
	border 0
	padding 1em 0 
	font-weight 600
	text-transform uppercase
	color azul
	font-size 1.2em
	border-radius .2em
form
	input
		width 96%
		border 2px solid blanco
		padding 1em 0
		margin 0 0 1em 0
		border-radius .3em
		background azul
		color blanco
		text-align center
		&:last-child
			background blanco
			color azul
			font-size 1.3em
			font-weight 400
			padding .6em 0
			width 98%

iframe
	margin 2em 0
#con-chat
	display inline
#sin-chat
	display none	
footer
	text-align center
	margin 0 auto 1em 0			
			
.contenedor
	max-width 300px
	margin 0 auto
	position relative
.contenedor-streaming
	max-width 1000px
	margin 0 auto
	position relative
.clear
	clear both
	
@media (max-width: 840px)
	h1
		margin 15px 0 0 0
	#con-chat
		display none
	#sin-chat
		display block
	.contenedor-streaming
		max-width 540px
		margin 0 auto
		position relative
		
